<h2>Por Pais</h2>
<hr />

<div class="row">
  <div class="col">
    <app-pais-input
      (onEnter)="buscar($event)"
      placeholder="buscar pais..."
      (onDebounce)="sugerencias($event)"
    >
    </app-pais-input>
  </div>
</div>

<ul *ngIf="mostrarSugerencias" class="list-group">
  <li
    role="button"
    class="list-group-item list-group-item-action"
    *ngFor="let pais of paisesSugeridos"
  >
    <a class="nav-link" [routerLink]="['/pais', pais.alpha2Code]">
      {{ pais.name }}
    </a>
  </li>
  <li role="button" class="list-group-item list-group-item-action">
    <a class="nav-link" (click)="buscarSugerido(termino)">
      Buscar: "{{ termino }}"
    </a>
  </li>
</ul>

<hr />

<div class="alert alert-danger" *ngIf="hayError">
  no se encontro nada con el termino {{ termino }}
</div>

<div *ngIf="paises.length > 0" class="row">
  <div class="col">
    <app-pais-tabla [paises]="paises"></app-pais-tabla>
  </div>
</div>
