<h2>Por Pais</h2>
<hr>

<div class="row">
  <div class="col">
    <form autocomplete="off" (ngSubmit)="buscar(termino)">
      <input type="text" name="termino" [(ngModel)]="termino" class="form-control" placeholder="Buscar pais...">
    </form>
  </div>
</div>
<hr>
<div class="alert alert-danger">
  no se encontro nada con el termino {{termino}}
</div>

<div class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Población</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td><img src="https://restcountries.com/data/col.sgv" alt="bandera" width="50px"></td>
          <td>Afghanistan</td>
          <td>27657145</td>
          <td><button class="btn btn-primary">Ver</button></td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
